@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');
*{
	font-family: 'Poppins';
	margin: 0;
}
body{
	background-image:url("img/pexels-mentatdgt-1266152.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center top;
	background-attachment: scroll;
}
h1{
	text-align: center;
	color: brown;
	font-weight: 500;
	font-size: 56px;
}
.border-style{
	text-align: center;
	width: 500px;
	color: #ffcc44;
	border-left: 1px solid;
	border-right: 1px solid;
	border-radius: 20px;
	margin: 50px;
	color: ;
}
