*{
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	display: flex;
	padding: 25px;
	background-color: #99fff1;
	justify-content: center;
	line-height: 30px;
	font-size: 24px;
	font-family: 'Franklin Gothic Medium'sans-serif;
	letter-spacing: 5px;
	word-spacing: 5px;

}
.form ul li{
	list-style: none;
	padding: 5px;
}
ul li input{
	padding: 10px;
}
.button {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 2px;
}
input.button{
	display: flex;
	justify-content: center;

}